
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  text-align: center;
  max-width: 420px;
  width: 90%;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}


.popup-box h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}


.popup-box p {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
}

.popup-box input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 14px;
}
.popup-box input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 14px;
}

.subscribe-btn {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
  font-size: 14px;
  transition: background 0.3s;
}

.subscribe-btn:hover {
  background: #218838;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}


.checkbox-area {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #444;
  gap: 5px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}


@media (max-width: 500px) {
  .popup-box {
    padding: 20px;
  }
  .popup-box h2 {
    font-size: 18px;
  }
}
