/* Container */
.payment-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Card */
.payment-card {
  width: 35%;
    height: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
     
}

/* Header */
.payment-title {
  font-size: 30px;
  font-weight: bold;
  color: #2c7a7b;
  margin-bottom: 8px;
}

.payment-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* Order Summary */
.order-summary {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  height: 170px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 18px;
  color: #333;
}

.summary-row.total {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

/* Payment Button */
.pay-button {
  width: 100%;
  padding: 12px 0;
  background-color: #4f46e5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #3730a3;
}

/* Footer */
.payment-footer {
  font-size: 12px;
  color: #777;
  margin-top: 15px;
}








.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #e5e7eb;
}

.tab {
  flex: 1;
  padding: 12px 16px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #6b7280;
  font-weight: 500;
}

.tab.active {
  color: #059669;
  border-bottom: 3px solid #059669;
  font-weight: 600;
}
