.product-detail {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 20px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  /* margin-top: 100px; */
  height: 550px;

}

.product-image {
  flex: 1;
  max-width: 400px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fafafa;
  padding: 1rem;
}

.product-image img {
  width: 100%;
  height: auto;
  /* max-height: 300px; */
  object-fit: cover;
  border-radius: 10px;
  /* margin-top: 200px; */
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product-info h2 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.product-info p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.product-info b {
  color: #000;
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    text-align: center;
  }

  .product-image {
    max-width: 100%;
  }

  .product-info {
    align-items: center;
  }
}
