.srch {
  width: 100%;
  position: relative;
}

.srch input {
  padding: 10px 40px 10px 20px;  /* extra space on right for icon */
  height: 50px;
  width: 48%;
  border-radius: 50px;
  border: 2px solid #009688;
  margin-left: 400px;
  font-size: 16px;
}

.srch .icn {
  position: absolute;
  right: calc(29% - 30px); /* matches margin-left + input width */
  top: 50%;
  /* border: 2px solid #009688; */
  transform: translateY(-50%);
  color: #009688;
  font-size: 20px;
  pointer-events: none; /* clicks go through icon to input */
}
